.control-panel{
  margin-top: 20px;
  padding: 10px;
  @include border-radius($radius-pc);
  @include box-shadow(10px 10px 25px transparentize(black, 0.3));
  background-color: black;
}

.form-container{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 10px;
  border-bottom: 1px solid transparentize(white, 0.7);
  .form-item{
    @extend .btn-like;
    @extend .unselectable;
    margin-right: 20px;
    color: white;
    input, label{
      color: $text-subtitle;
      cursor: pointer;
    }
  }
}

.screen-switcher{
  .screen-list{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    .screen-list-item{
      @extend .btn-like;
      width: 50%;
      line-height: 1.5;
      text-align: center;
      color: $text-subtitle;
      font-size: $fz-subtitle;
      &.active{
        color: white;
        text-shadow: 1px 1px 2px lighten(black, 40%);
      }
    }
  }

}
