@use "sass:math";
.footer{
    position: absolute;
    bottom: 0;
    z-index: $z-index-footer;
    left: 0;
    height: $height-footer;
    img.bg{
        display: block;
    }

    .btn-list{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: flex-start;
        .btn-list-item{
            margin-right: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: ($height-footer - $height-footer-icon-btn)/2;
            img.icon{
                width: 48px;
            }
            .btn-title{
                margin-left: 10px;
                color: white;
                font-size: $fz-title;
                line-height: $height-footer-icon-btn;
            }
        }
    }
}
