@use "sass:math";
.header{
    height: $height-header;
    z-index: $z-index-header;
    position: relative;
    img.bg-title{
        width: $width;
        max-height: $height;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title{
        color: $text-title;
        font-size: $fz-title;
        line-height: $fz-title;
        padding: ($height-header - $fz-title)/2;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        text-align: center;
    }

    .logo{

        z-index: 10;
        position: absolute;
        left: 10px;
        padding: ($height-header - $height-logo)/2;
        img{
            display: block;
        }
    }

    .icon-list{

        z-index: 10;
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        justify-content: flex-end;
        .icon-list-item{
            padding: ($height-header - $height-header-icon)/2;
            img{

            }
        }
    }
}
