.home{
  background-color: gray;
  position: relative;
  justify-content: space-between;
  .container{
    padding-right: $width + 60px;
  }

  .preview-container{
    position: fixed;
    right: 20px;
    top: 20px;
    width: $width + 20px;
  }

  .screen-wrapper{
    overflow: hidden;
    flex-shrink: 0;
    @include border-radius($radius-pc);
    @include box-shadow(10px 10px 25px transparentize(black, 0.3));
    background-color: black;
    padding: 10px;
  }
}

