.main-menu-list{
    width: $width;
    overflow-x: auto;
    top: 85px;
    position: absolute;
    z-index: $z-index-menu;
    display: flex;
    justify-content: flex-start;
    .main-menu-list-item{
        @extend .unselectable;
        flex-shrink: 0;
        width: 156px;
        height: 278px;
        cursor: pointer;
        .menu-title{
            font-size: $fz-title;
            color: gray;
            width: 156px;
            letter-spacing: 0.5px;
            position: absolute;
            top: 180px;
            text-align: center;
        }
        .img-wrapper{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                flex-grow: 0;
                @extend .unselectable;
            }
        }

        &.active{
            .menu-title{
                color: white;
                text-shadow: 2px 3px 1px transparentize(black, 0.7);
            }
        }
    }
    &::-webkit-scrollbar {
        z-index: 50;
        width: 0;
        height: 0;
    }
}

.main-menu-indicator-list{
    z-index: $z-index-menu-indicator;
    position: absolute;
    width: 100%;
    bottom: 80px;
    display: flex;
    justify-content: center;
    .main-menu-indicator-list-item{
        min-width: 30px;
        img{
            display: block;
        }
    }
}
