.search-bar{
    position: sticky;
    top: 0;
    z-index: $z-index-header;
    padding: 20px;
    input{
        width: 50%;
        display: block;
        margin: 0 auto;
        @include border-radius($radius-mobile);
        padding: 5px 15px;
        height: 50px;
        border: 1px solid transparentize($color-border, 0.5);
        color: $text-title;
        font-family: Galvji, sans-serif;
        font-weight: bold;
        font-size: 30px;
        background-color: black;
        outline: 0px solid transparentize(black, 0.5);
        @include transition(all 0.3s);
        &:focus{
            border-color: $color-border;
            @include transition(all 0.3s);
            outline: 5px solid transparentize(black, 0.5);
        }
    }
}
