@import "variables";
@import "reset";
@import "utility";


img{
    display: block;
}

img.line-h{
    bottom: -2px;
    width: $width;
    position: absolute;
    z-index: 10;
}

.screen{
    position: relative;
    width: $width;
    height: $height;

    img.background{
        width: $width;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@import "home";
@import "header";
@import "footer";

@import "screen_home";
@import "preview-list";
@import "main-menu";
@import "menu-list";
@import "game-console-list";
@import "keymap_test";


