* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-family: "SF UI Display", "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "JetBrainsMonoDiary", "SF UI Display", "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #b7b7b7;
  transition: all 0.2s;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.unselectable, .game-console-list .game-console-list-item, .menu-list .menu-list-item-small, .menu-list .menu-list-item-large, .main-menu-list .main-menu-list-item .img-wrapper img, .main-menu-list .main-menu-list-item, .btn-like, .screen-switcher .screen-list .screen-list-item, .form-container .form-item, .preview-list .preview-list-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-like, .screen-switcher .screen-list .screen-list-item, .form-container .form-item, .preview-list .preview-list-item {
  white-space: nowrap;
  cursor: pointer;
}
.btn-like:active, .screen-switcher .screen-list .screen-list-item:active, .form-container .form-item:active, .preview-list .preview-list-item:active {
  transform: translateY(2px);
}

img {
  display: block;
}

img.line-h {
  bottom: -2px;
  width: 640px;
  position: absolute;
  z-index: 10;
}

.screen {
  position: relative;
  width: 640px;
  height: 480px;
}
.screen img.background {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
}

.home {
  background-color: gray;
  position: relative;
  justify-content: space-between;
}
.home .container {
  padding-right: 700px;
}
.home .preview-container {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 660px;
}
.home .screen-wrapper {
  overflow: hidden;
  flex-shrink: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  background-color: black;
  padding: 10px;
}

.header {
  height: 60px;
  z-index: 100;
  position: relative;
}
.header img.bg-title {
  width: 640px;
  max-height: 480px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .title {
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  padding: 17px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}
.header .logo {
  z-index: 10;
  position: absolute;
  left: 10px;
  padding: 9px;
}
.header .logo img {
  display: block;
}
.header .icon-list {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}
.header .icon-list .icon-list-item {
  padding: 6px;
}
.footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 0;
  height: 60px;
}
.footer img.bg {
  display: block;
}
.footer .btn-list {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
}
.footer .btn-list .btn-list-item {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
}
.footer .btn-list .btn-list-item img.icon {
  width: 48px;
}
.footer .btn-list .btn-list-item .btn-title {
  margin-left: 10px;
  color: white;
  font-size: 26px;
  line-height: 54px;
}

.search-bar {
  padding: 20px;
}
.search-bar input {
  width: 50%;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 5px 15px;
  height: 50px;
  border: 1px solid rgba(221, 221, 221, 0.5);
  color: #fff;
  font-family: Galvji, sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.search-bar input:focus {
  border-color: #ddd;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: 5px solid rgba(0, 0, 0, 0.5);
}

.preview-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.preview-list .preview-list-item {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.preview-list .preview-list-item.active .preview-img-wrapper {
  background: white;
  border: 1px solid white;
  -webkit-box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5), -20px 20px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5), -20px 20px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.5), -20px 20px 25px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.preview-list .preview-list-item.active .preview-title-wrapper .title {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4);
  color: white;
}
.preview-list .preview-list-item .preview-img-wrapper {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: black;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: block;
  width: 360px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
}
.preview-list .preview-list-item .preview-img-wrapper img {
  display: block;
  width: 100%;
}
.preview-list .preview-list-item .preview-title-wrapper {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  text-align: center;
  font-family: "Galvji", sans-serif;
}
.preview-list .preview-list-item .preview-title-wrapper .title {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: bold;
}
.preview-list .preview-list-item .preview-title-wrapper .author {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.preview-list::-webkit-scrollbar {
  z-index: 50;
  width: 10px;
  height: 10px;
}
.preview-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.preview-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #b7b7b7;
  transition: all 0.2s;
  cursor: pointer;
}
.preview-list::-webkit-scrollbar-button {
  display: none;
}
.preview-list::-webkit-scrollbar-corner {
  display: none;
}

.main-menu-list {
  width: 640px;
  overflow-x: auto;
  top: 85px;
  position: absolute;
  z-index: 200;
  display: flex;
  justify-content: flex-start;
}
.main-menu-list .main-menu-list-item {
  flex-shrink: 0;
  width: 156px;
  height: 278px;
  cursor: pointer;
}
.main-menu-list .main-menu-list-item .menu-title {
  font-size: 26px;
  color: gray;
  width: 156px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 177px;
  text-align: center;
}
.main-menu-list .main-menu-list-item .img-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-list .main-menu-list-item .img-wrapper img {
  flex-grow: 0;
}
.main-menu-list .main-menu-list-item.active .menu-title {
  color: white;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
}
.main-menu-list::-webkit-scrollbar {
  z-index: 50;
  width: 0;
  height: 0;
}

.main-menu-indicator-list {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 80px;
  display: flex;
  justify-content: center;
}
.main-menu-indicator-list .main-menu-indicator-list-item {
  min-width: 30px;
}
.main-menu-indicator-list .main-menu-indicator-list-item img {
  display: block;
}

.menu-list {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  position: absolute;
  top: 60px;
  width: 640px;
  height: 360px;
  left: 0;
}
.menu-list .menu-list-item-large {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
}
.menu-list .menu-list-item-large .icon {
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 108px;
}
.menu-list .menu-list-item-large img.bg-selected {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-list .menu-list-item-large .title-wrapper {
  z-index: 10;
}
.menu-list .menu-list-item-large .title-wrapper .title {
  font-size: 26px;
  color: #fff;
}
.menu-list .menu-list-item-large .title-wrapper .subtitle {
  font-size: 20px;
  color: #999;
}
.menu-list .menu-list-item-small {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
}
.menu-list .menu-list-item-small .icon {
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 72.8px;
  align-items: center;
}
.menu-list .menu-list-item-small img.bg-selected {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-list .menu-list-item-small .content {
  align-items: center;
  flex-grow: 1;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.menu-list .menu-list-item-small .content .title {
  font-size: 26px;
  color: #fff;
}
.game-console-list-wrapper {
  width: 640px;
  height: 360px;
  overflow-y: auto;
  left: 0;
  z-index: 100;
  position: absolute;
}

.game-console-list {
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  top: 60px;
  width: 640px;
  padding: 10px;
}
.game-console-list .game-console-list-item {
  width: 155px;
  z-index: 10;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  height: 170px;
}
.game-console-list .game-console-list-item.active .title {
  color: #fff;
}
.game-console-list .game-console-list-item .icon {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.game-console-list .game-console-list-item .title {
  bottom: 23px;
  position: absolute;
  z-index: 10;
  font-size: 26px;
  color: #999;
}
.game-console-list .game-console-list-item img.bg {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.screen-keymap {
  position: relative;
}
.screen-keymap img.keymap {
  z-index: 10;
  top: 0;
  position: absolute;
  width: 640px;
}
.screen-keymap .keymap-key {
  z-index: 999;
  position: absolute;
  width: 160px;
  height: 60px;
}
.screen-keymap .keymap-key img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.screen-keymap .keymap-key .key-name {
  line-height: 60px;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 26px;
}

.control-panel {
  margin-top: 20px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
  background-color: black;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.form-container .form-item {
  margin-right: 20px;
  color: white;
}
.form-container .form-item input, .form-container .form-item label {
  color: #999;
  cursor: pointer;
}

.screen-switcher .screen-list {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.screen-switcher .screen-list .screen-list-item {
  width: 50%;
  line-height: 1.5;
  text-align: center;
  color: #999;
  font-size: 20px;
}
.screen-switcher .screen-list .screen-list-item.active {
  color: white;
  text-shadow: 1px 1px 2px #666666;
}

/*# sourceMappingURL=main.css.map */
